<%- partial('sidebar') %>

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>主页</a><span class='divider'>/</span></li>
				<li class='active'>关于</li>
			</ul>
		</div>
		<div class='inner'>
			<div class='topic_content'>
				<h3>关于</h3>
				<p></p>
				<p>PNG破内购 是国内移动端APP内购破解技术社区，致力于 内购破解 的技术研究。</p>
				<p>PoNeiGou 社区由一批热爱 内购破解 技术的爱好者发起，我们非常欢迎更多对 内购破解 感兴趣的朋友加入我们 <a target="_blank" href="http://mail.163.com/share/mail2me.htm#email=112111110101105103111117064049050054046099111109" style="text-decoration:none;"><img src="http://mimg.127.net/xm/all/share/120111/img/mailme_1.png" alt="给我写信"/></a>。</p>
			</div>
		</div>
	</div>	
</div>
